.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#title{
    width: 100%;
    text-align: center;
}
#word{
    margin-right: 5px;
}
#check:hover{
    background-color: rgb(74, 74, 199);
    border-radius: 20px;
    cursor: pointer;

}